h1{
    margin-top: 0%;
    margin-bottom: 0%;
}

#takenMenu{
    grid-area: header;
    text-align: center;
}

#taakstraf{
    margin-right: 5px;
    grid-area: taakstraf;
    text-align: center;
}

#gevangenis{
    margin-left: 5px;
    grid-area: gevangenis;
    text-align: center;
}

#main{
    margin-top: 10px;
    grid-area: main;
    text-align: center;
}

#footer{
    grid-area: footer;
    text-align: center;
}

#mainContainer{
    margin-top: 2%;
    margin-left: 25%;
    width: fit-content;
    border: 25px;
    border-style: solid;
    border-color: #002c53;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 50px 100px 200px 300px 50px;
    grid-template-areas: 
        "header header header header"
        "taakstraf taakstraf gevangenis gevangenis"
        "taakstraf taakstraf gevangenis gevangenis"
        "main main main main"
        "footer footer footer footer";
}